*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 100px;
}

.about-banner {
    height:150px;
    background: #5D1201;
    padding: 2%;
}

.about-banner, h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.about-description {
    background: #f5ebdc;
    height: 450px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
}

.contact {
    margin-top: 3%;
}

 /* MEDIA QUERY */
@media (max-width: 900px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 50px ;
    }

    .hamburger-wrap {
        display: block;
        cursor: pointer;
        font-size: 25px;
        color: white;
    }
    
    .nav-items{
        display: none  ;
    }

    .open-nav-items{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .nav-links{
        text-align: right;
    }

}