/* Reset Default Setting*/

*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 100px;
}


.logo-wrap img{
   width: 80px;
   height: 60px;
  
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background: rgb(245, 235, 220);
    transition: 0.5s ease;
    align-items: center;
    
}
.logo-wrap .logo{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.btn-signup {
    margin-right: 15px;
}

.fa-shopping-cart {
    color: #5D1201;
}

.burger-logo {
    height: 40px;
}

.brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5D1201;
    font-weight: bold;
}

.brand-link p {
    margin-left: 5px;
}

.hamburger-wrap{
    display: none;
}

.nav-items .nav-links{
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: #5D1201;
    font-weight: bold;
}

.nav-items .nav-links:hover{
    background-color: white;
    color: brown;
   
    border-radius: 5px;
}